# dependencies
/node_modules

# System Files
.DS_Store
thumbs.db

# IDE stuff
/.idea
/.vscode

# Config Files
/data
.env

package-lock.json

# Indev
/Commands/Music
/Commands/Moderation
/Commands/Testing